<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
  <% devise_error_messages!.each do |key, value| %>
  	<%= key %> <%= value %>
  <% end %>

  <p><%= f.label :Benutzername %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :"e-mail" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :passwort %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :wiederholen %><br />
  <%= f.password_field :password_confirmation %></p>
  <%= image_submit_tag "senden_a.jpg", :mouseover => "senden_b.jpg"%>

<!--  <p><%= f.submit "Sign up" %></p> -->
<% end %>

<%= render :partial => "devise/shared/links" %>
