
<%= form_for :painting do |f|%>
	<p>
		<%= f.label "Name" %>
		<br />
		<%= f.number_field :name %>
	</p>
	<p>
		<%= f.label "Breite in Pixeln" %>
		<br />
		<%= f.number_field :width %>
	</p>
	<p>
		<%= f.label "Höhe in Pixeln" %>
		<br />
		<%= f.number_field :height%>
	</p>
	<p>
		<%= f.label "Format"%>
		<br />
		<%= f.select :format, [['jpg','jpg'],['png','png'],['gif','gif']] %>
		<%= f.select :effekt, [['none','none'],['Vignette','vignette'],['Edge','edge'],['Polaroid','polaroid'],['Emboss','emboss'],['Implode','implode'],['Negativ','negate'],['Öl Gemälde','oil'],['Spread','spread'],['Welle','wave']] %>
	</p>
	<%= image_submit_tag "senden_a.jpg", :mouseover => "senden_b.jpg" %>
<% end %>
