<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<% devise_error_messages!.each do |key, value| %>
		<div class="flash <%= key %>"><%= key %> <%= value %></div>
	<% end %>
  <p>
      <%= f.label :Benutzername , :default =>"" %>
      <br />
      <%= f.text_field :username %>
  </p>

  <p>
      <%= f.label :passwort, :value=> ""%>
      <br />
      <%= f.password_field :password %>
  </p>

  <% if devise_mapping.rememberable? -%>
      <p>
      <%= f.check_box :remember_me %> <%= f.label :"eingelogt bleiben" %>
      </p>
  <% end -%>
  <%= image_submit_tag "senden_a.jpg", :mouseover => "senden_b.jpg"%>
<% end %>

<%= render :partial => "devise/shared/links" %>
